@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  /* Định nghĩa font và size ở đây nếu config cũ không nhận */
  --font-mono: "Roboto Mono", monospace;
  --font-huge: 5rem;
  --font-roboto: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-roboto);
  }
}

/* CSS swiper */
.swiper-button-next,
.swiper-button-prev {
  color: white;
}
.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
  width: 10px;
  height: 10px;
  border: 3px solid #ccc;
}
.swiper-pagination-bullet-active {
  background: white;
}
